body {
  background-color: #e6ecf0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
.navbar {
  margin-bottom: 1rem;
}
.navbar a{
  font-weight: bold;
}
.navbar a{
  color: white;
}
.navbar a:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.navbar-brand > img{
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li{
  margin: 0 .5rem;
}

.onboarding > .navbar{
  background-image: linear-gradient(to right, #2c81b3, #00bf72);
  background-size: 100% 100%;
}
.home-hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/warbler-hero.jpg);
  background-position: center center;
  background-size: cover;
  z-index: -1;
  text-align: center;
  padding: 1rem;
  color: white;
  text-shadow: 0 0 8px #66757f;
}

/* messsages */
#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}
/* #messages:not(.no-hover) .list-group-item:hover{
  background-color: #e6ecf0;
} */